@model Autoboxd.Web.Components.CommentBox.CommentBoxViewModel

<div class="component comment-box">
    <div class="comments container shadow">
        <div class="comment row" style="background-color: var(--background-color-highlight-subtle);">
            <div class="col-12 p-4">
                @Model.Comment.Value
            </div>
        </div>
        <div class="row" style="background-color: var(--background-color-highlight); padding:12px 0">
            <div class="col-6">
                <div style="width: 24px; height: 24px; border-radius: 32px; margin-right: 10px; background-color:var(--background-color-highlight-strong); float:left; text-align: center; font-size: 11px; line-height: 24px;">@Model.Comment.Creator.UserName.Substring(0,1)</div>
                <a style="cursor:pointer;">@Model.Comment.Creator.UserName</a>
            </div>
            <div class="col-6" style="text-align:right">
                <a href="Cars/@Model.Comment.Item.Path">
                    <strong>@Model.Comment.Item.Brand</strong>
                    <span>@Model.Comment.Item.Name</span>
                </a>
            </div>
        </div>
    </div>
    <br/>
</div>