@page "{title}"
@using Volo.Abp.Users
@model Autoboxd.Web.Pages.Cars.IndexModel
@inject ICurrentUser CurrentUser
@section scripts
{
    <abp-script src="/Pages/Cars/Index.cshtml.js" />
}

<script src="https://cdn.tiny.cloud/1/g60sowun80ddf7cthq0sbjaawkx052hdg5z0j0cdho9h0sqz/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
@*@await Component.InvokeAsync("HeroImage", new { imageUrl = @Model.ImagePath })*@
<div class="page cars">
    <div class="content">
        <div class="row">
            <div style="display:none;" class="col-3 d-lg-block">
                <div class="card" style="margin-bottom: 16px; height: 250px; line-height: 250px; text-align:center;">Additional images</div>
                <abp-dropdown class="addToListButton">
                    <abp-dropdown-button button-type="Primary" icon-type="FontAwesome" icon="plus" text="Add to list" />
                    <abp-dropdown-menu>
                        @foreach (var list in Model.Lists)
                        {
                            <abp-dropdown-item id="@list.Id" class="addToList">@list.Title</abp-dropdown-item>
                        }
                        <abp-dropdown-divider></abp-dropdown-divider>
                        <abp-dropdown-item id="createNewList">Add to new list...</abp-dropdown-item>
                    </abp-dropdown-menu>
                </abp-dropdown>
                <div class="card" style="margin-bottom: 16px; height: 150px; line-height: 150px; text-align:center;">Rating</div>
                <div class="card" style="margin-top: 16px; margin-bottom: 16px; height: 200px; line-height: 200px; text-align:center;">Advert</div>
                <div class="card" style="margin-top: 16px; margin-bottom: 16px; height: 300px; line-height: 300px; text-align:center;">Featured in lists</div>
                <div class="d-none" id="itemId">@Model.ItemId</div>
            </div>
            <div class="col-12 col-lg-9">
                <div class="title" style="width: 100%; height: 50px;">
                    <div style="float:left;">
                        <h2>@Model.Brand @Model.Name</h2>
                    </div>
                    <div>
                        <h3 style="margin-left: 10px; line-height: 42px; opacity: 70%; float:right;">@Model.Year</h3>
                    </div>
                </div>
                @*<div class="card pl-3 pr-3">
            <p>@Html.Raw(Model.Description)</p>
        </div>

        <div class="card pl-3 pr-3 mt-3 mb-3">
            <p style="height: 300px; line-height: 300px; text-align:center;">Car specifications</p>
        </div>*@

                @await Component.InvokeAsync("CommentSection", new { comments = Model.Comments })
                @if (CurrentUser.IsAuthenticated)
                {
                    <abp-input asp-for="@Model.Comment" label="Add a comment" id="commentBox" />

                    <a abp-button="Primary" id="postComment">Post comment</a>
                }
                else
                {
                    <div class="text-center">Please <a href="/account/login">login</a> to post a comment!</div>
                }
            </div>
        </div>
        <!-- Bit of padding for now -->
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</div>

<script>
    tinymce.init({
        selector: 'textarea',
      plugins: 'autolink lists media table',
        toolbar: 'undo redo | forecolor | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | link image',
      toolbar_mode: 'floating',
      tinycomments_mode: 'embedded',
      tinycomments_author: 'Author name',
    });
</script>