@page "{title}"
@using Volo.Abp.Users
@model Autoboxd.Web.Pages.Cars.IndexModel
@inject ICurrentUser CurrentUser
@section scripts
{
    <abp-script src="/Pages/Cars/Index.cshtml.js" />
}

@*@await Component.InvokeAsync("HeroImage", new { imageUrl = @Model.ImagePath })*@
<div class="page cars">
    <div class="content">
        <div class="row">
            <div class="col-3">
                <div class="card" style="margin-bottom: 16px; height: 250px; line-height: 250px; text-align:center;">Additional images</div>
                <abp-dropdown class="addToListButton">
                    <abp-dropdown-button button-type="Primary" icon-type="FontAwesome" icon="plus" text="Add to list" />
                    <abp-dropdown-menu>
                        @foreach (var list in Model.Lists)
                        {
                            <abp-dropdown-item id="@list.Id" class="addToList">@list.Title</abp-dropdown-item>
                        }
                        <abp-dropdown-divider></abp-dropdown-divider>
                        <abp-dropdown-item id="createNewList">Add to new list...</abp-dropdown-item>
                    </abp-dropdown-menu>
                </abp-dropdown>
                <div class="card" style="margin-bottom: 16px; height: 150px; line-height: 150px; text-align:center;">Rating</div>
                <div class="card" style="margin-top: 16px; margin-bottom: 16px; height: 200px; line-height: 200px; text-align:center;">Advert</div>
                <div class="card" style="margin-top: 16px; margin-bottom: 16px; height: 300px; line-height: 300px; text-align:center;">Featured in lists</div>
                <div class="d-none" id="itemId">@Model.ItemId</div>
            </div>
            <div class="col-9">
                <div class="title" style="display: flex;">
                    <h2>@Model.Brand @Model.Name</h2>
                    <h3 style="margin-left: 10px; line-height: 50px; opacity: 70%;">@Model.Year</h3>
                </div>
                @*<div class="card pl-3 pr-3">
            <p>@Html.Raw(Model.Description)</p>
        </div>

        <div class="card pl-3 pr-3 mt-3 mb-3">
            <p style="height: 300px; line-height: 300px; text-align:center;">Car specifications</p>
        </div>*@

                @await Component.InvokeAsync("CommentSection", new { comments = Model.Comments })
                @if (CurrentUser.IsAuthenticated)
                {
                    <abp-input asp-for="@Model.Comment" label="Add a comment" />

                    <a abp-button="Primary" id="postComment">Post comment</a>
                }
                else
                {
                    <div class="text-center">Please <a href="/account/login">login</a> to post a comment!</div>
                }
            </div>
        </div>
        <!-- Bit of padding for now -->
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</div>