@page "{title}"
@model Autoboxd.Web.Pages.Cars.IndexModel

@await Component.InvokeAsync("HeroImage", new { imageUrl = @Model.ImagePath })

<h1>@Model.Name</h1>
<h3>@Model.Year</h3>

<p>@Html.Raw(Model.Description)</p>
<p>@Model.ItemId</p>

@await Component.InvokeAsync("ItemRating", new { rating = @Model.Rating })

<!-- Bit of padding for now -->
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
